html,
body {
  background-color: black;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
}

a:link,
a:visited {
  background-color: #a3c2eb;
  color: black;
  font-weight: bold;
  padding: 7.5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
}

a:hover {
  background-color: #88a2c4;
}

.home {
  position: relative;
  top: 595px;
}
